/* Estilos Generales */
@font-face
{
	font-family: letrasPeriodico;
	src: url("MiguelPenaranda/media/img/OldNewspaperTypes.ttf");
}

html
{
	scroll-behavior: smooth;
	width: 100%;
}	

header
{
	font-family: letrasPeriodico;
	padding: 300px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav
{
	background-color: #14192c;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	padding: 20px 0px;
	display: flex;
	justify-content: space-around;
}

body
{
	font-family: Arial, sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #e5e9ec;
}

main
{
	background-color: #14192c;
}

footer
{
	margin: 0px;
	padding: 0px;
	background-color: #14192c;
	padding: 20px;
	font-size: 14px;
	text-align: center;
}

h1
{
	display: inline-block;
	white-space: nowrap;
	font-size: 100px;
	color: black;
}

h3
{
	font-size: 28px;
	color: #333;
	margin-bottom: 10px;
}

a
{
	text-decoration: none;
}

/* Header */
.cabecera
{
	height: 100px;
	width: 100px;
}

/* Menú*/
.botonNav a
{
	color: white;
	font-size: 18px;
	transition: color 0.3s ease;
	padding: 0px 10px;
}

.botonNav a:hover
{
    color: #777a81;
}

/*Tarjetas*/
#vlogs
{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor
{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.tarjeta
{
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

.tarjeta > .fila
{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.tarjeta > .fila > .icono
{
    background: #14192c;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.tarjeta > .fila > .descripcion
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0px;
}

.descripcion h4
{
    text-transform: uppercase;
	margin: 0px;
	color: #14192c;
	size: 3em;
}

.descripcion p
{
    color: #14192c;
    margin: 0px;
}

input
{
    display: none;
}

input:checked + label
{
    width: 600px;
}

input:checked + label .description
{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.tarjeta[for="c1"]
{
    background-image: url(../media/img/Cine.jpg);
}

.tarjeta[for="c2"]
{
    background-image: url(../media/img/Zapatillas.jpg);
}

.tarjeta[for="c3"]
{
    background-image: url(../media/img/Mitologia.jpg);
}

.tarjeta[for="c4"]
{
    background-image: url(../media/img/Musica.jpg);
}

.tarjeta[for="c5"]
{
    background-image: url(../media/img/Videojuegos.jpg);
}

/*Tres en raya*/
#tresEnRaya
{
	display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #e5e9ec;
}

#tituloTresEnRaya
{
	color: #14192c;
}

#ganaste
{
	margin: 0px;
	font-size: 24px;
    color: green;
    margin: 0px;
    visibility: hidden;
}

#tablero
{
    margin: 20px auto;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: #14192c;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
	
#tablero > button
{
	width: 100px;
	height: 100px;
	font-size: 30px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
	transition: background 0.3s, transform 0.2s;
}

#tablero > button:hover
{
	transform: scale(1.1);
}

#reiniciar
{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #14192c;
	margin: 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#reiniciar:hover
{
	transform: scale(1.05);
}

#reiniciar:active
{
	transform: scale(0.95);
	color: #777a81;
}

#marcador
{
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 320px;
    max-width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	margin: 20px auto 50px auto;
}

#marcador p
{
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

/*Footer*/
#footerContent
{
	color: #777a81;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footerInfo
{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

#footerInfo p
{
	margin: 0px;
}

#footerCopyright
{
	font-size: 12px;
	color: #777a81;
}

/* Responsidad */
@media(max-width: 1024px)
{
	header
	{
		margin-top: 60px;
		padding-top: 100px;
		padding-bottom: 100px;
    }
	
	h1
	{
        font-size: 80px;
        text-align: center;
    }
	
    .cabecera
	{
        height: 10vh;
        width: auto;
    }
	
    #vlogs
	{
        height: auto;
        flex-wrap: wrap;
    }

    #contenedor
	{
        height: auto;
        align-items: center;
		display: flex;
		flex-direction: column;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px;
    }

    .tarjeta
	{
        width: 100%;
		height: 80px;
		margin: 10px 0;
		transition: height 0.6s ease;
		background-size: cover;
    }
	
    input:checked + label
	{
        width: 100%;
		height: 400px;
    }
}

@media(max-width: 770px)
{
	header
	{
		margin-top: 60px;
		padding-top: 100px;
		padding-bottom: 100px;
    }
	
	h1
	{
        font-size: 80px;
        text-align: center;
    }
	
	#menu
	{
        display: none;
    }
	
    .cabecera
	{
        height: 10vh;
        width: auto;
    }
	
    #vlogs
	{
        height: auto;
        flex-wrap: wrap;
    }

    #contenedor
	{
        height: auto;
        align-items: center;
		display: flex;
		flex-direction: column;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px;
    }

    .tarjeta
	{
        width: 100%;
		height: 80px;
		margin: 10px 0;
		transition: height 0.6s ease;
		background-size: cover;
    }
	
    input:checked + label
	{
        width: 100%;
		height: 400px;
    }
}

@media(max-width: 660px)
{
    header
	{
		margin-top: 60px;
		padding-top: 100px;
		padding-bottom: 100px;
    }
	
	h1
	{
        font-size: 80px;
        text-align: center;
    }
	
	#menu
	{
        display: none;
    }

    .cabecera
	{
        height: 10vh;
        width: auto;
    }
	
    #vlogs
	{
        height: auto;
        flex-wrap: wrap;
    }

    #contenedor
	{
        height: auto;
        align-items: center;
		display: flex;
		flex-direction: column;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px;
    }

    .tarjeta
	{
        width: 100%;
		height: 80px;
		margin: 10px 0;
		transition: height 0.6s ease;
		background-size: cover;
    }
	
    input:checked + label
	{
        width: 100%;
		height: 400px;
    }
}
