/*Proyecto FDW. REVISTA, APARTADO DE CULTURA, MITOLOGÍA GRIEGA */

@font-face{
	font-family: "GREEK";
	src: url("../sfx/greek.ttf");
}

html, body{
	margin:0;
	padding:0;
}

html {
	scroll-behavior: smooth;
}

header{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 30vh;
	position: relative;
	text-align: center;
	color: white;
	background-image: url('../img/headermenu1.jpg');
	transition: opacity 1s;
}



#title{
	position: absolute;
	color:white;
	text-shadow: 2px 2px 2px #1b1b1d;
	text-align:center;
	font-size:5em;
	
}

.bodydark{
	background-color:#1F2123;
}

.bodylight{
	background-color: white;
}

nav{
	position: sticky;
	top: 0;
	overflow: hidden;
	/*background-color: #34313a;*/
	background-color:#202328;
	box-shadow: 0px 2px 5px 3px #1b1b1d;
}


.opnav {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.25em;
	
}

.opnav:hover{
	background-color: #1e8fb7;
}

#intro{
	
	height:auto;
	margin: 5vh 15vw;
	padding: 2vh 5vw;
}

.introdark{
	background-color:#2F2F2F;
	box-shadow: 0px 5px 10px 6px #1b1b1d;
}

.introlight{
	background-color: #ebebf2;
	box-shadow: 0px 5px 10px 6px #ccc;
}

.headintro{
	font-family: GREEK;
	font-size: 2em;
}

.introdark h5{
	color:white;
}

.introlight h5{
	color:43484E;
}

p{
	text-align: justify;
	font-family: GREEK;
	font-size:1.25em;
}

.introdark p{
	color:white;
}

.introlight p{
	color:43484E;
}

.fotos_intro{
	display: flex;
	justify-content:space-around;
}

iframe{
	display:block;
	height:30vh;
	width:20vw;
}

.pic{
	display:block;
	height: 30vh;
	width: auto;
}

#menu{
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding: 1.5vh 6vw;
	margin-bottom: 3vh;
}

.op{
	height: auto;
	width: 20vw;
	padding: 1.5vh 7vw;
	border-radius: 25px;
	padding-bottom: 7vh;
	
}

.opdark{
	box-shadow: 0px 5px 10px 6px #1b1b1d;
}

.oplight{
	box-shadow: 0px 5px 10px 6px #ccc;
}

.optxt{
	font-size: 2.75em;
	color:white;
	text-shadow: 2px 2px 2px #1b1b1d;
}

.opflecha{
	height: 10vh;
	width: 7vw;
	transition-duration: .37s;
	transition-timing-function: ease-in-out;
}

.opflecha:hover{
	transform: translate(1.5vw);
	}

#opnorse{
	background-image: url("../img/norseop.jpg");
}

#opgreek{
	background-image: url("../img/greekop.jpg");
}

footer{
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.footerdark{
	background-color: #202328;
	box-shadow: 0px 5px 10px 6px #1b1b1d;
}

.footerlight{
	background-color: #bdd9ff;
	box-shadow: 0px 5px 10px 6px #ccc;
}

.footerclass{
	margin: 6vh 2vw;
}

h3{
	font-size: 2em;
}

#contact{
	display:block;
}

#cambiar_tema{
	display:block;
	cursor: pointer;
}

#temaimg{
	height: 2.5vh;
	width: 1.12vw;
	margin-right: .5vh;
}	

span{
	font-size: 1.2em;
}

.footerdark span{
	color:white;
}

.footerdark h3{
	font-family: GREEK;
	color:white;
}

.footerlight span{
	color:black;
}

.footerlight h3{
	font-family: GREEK;
	color:black;
}

#rrss{
	cursor: pointer;
}




