
@font-face{
	font-family: "GREEK";
	src: url("../sfx/greek.ttf");
}

html, body{
	margin:0;
	padding:0;
}

html {
	scroll-behavior: smooth;
}

header{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 30vh;
	position: relative;
	text-align: center;
	color: white;
	background-image: url('../img/headermenu5.jpg');
	transition: opacity 1s;
}



#title{
	position: absolute;
	color:white;
	text-shadow: 2px 2px 2px #1b1b1d;
	text-align:center;
	font-size:5em;
	
}

body{
	background-color:#1F2123;
}

/*NAV Y MENU*/
nav{
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color:#202328;
	box-shadow: 0px 2px 5px 3px #1b1b1d;
	z-index: 2;
}

#menu_lateral{
	display:flex;
	flex-direction:column;
	align-items: center;
	height: 100vh;
	width:0vw;
	position:fixed;
	z-index: 1;
	overflow-x:hidden;
	background-color:#202328;
	box-shadow: none;
	transition:0.5s;
	
}

.opnav {
	float:left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.25em;
	
}

.opnav:hover{
	background-color: #1e8fb7;
}

.opmenu {
	
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.25em;
	width: 100%;
	
}

.opmenu:hover {
	background-color: black;
}

#home{
	margin-top:2vh;
}

#hamburger{
	height: 3vh;
	width:auto;
	cursor: pointer;
}
/*FIN NAV Y MENU*/

main{
	display:flex;
	flex-direction:column;
	padding-top:2vh;
}

.titulo{
	font-family: GREEK;
	font-size: 3em;
	color:white;
	margin-left:12.5vw;
	
}

/*CARTAS*/

#glosario{
	display: flex;
	flex-wrap: wrap;
	width: 75vw;
	margin: 1.5vh 12.5vw;
	justify-content: space-around;
	background-image: url("../img/pretty_water.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow: 0px 5px 10px 6px #1b1b1d;
	
}

.contenedor{
	height:60vh;
	width:20vw;
	margin: 5vh 0vw;
	
}

.flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.delante{
	width:100%;
	height:100%;
	overflow:hidden;
	border-radius: 25px;
}

.delante img{
	width:100%;
	height:100%;
	object-fit:cover;
	background-image: url("../img/red.jpg");
}

.delante, .detras {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.detras{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background-color:#f2eede;
	transform: rotateY(180deg);
	border-radius: 25px;
}

.detras h4{
	font-size:3em;
	font-family: GREEK;
}

.detras p{
	font-size:1.2em;
	padding: 0vh 1.5vw;
	text-align: justify;
	font-family: GREEK;
}

/*FIN CARTAS*/

/*FOOTER*/

footer{
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #202328;
	box-shadow: 0px 5px 10px 6px #1b1b1d;
}

.footerclass{
	margin: 6vh 2vw;
}

h3{
	font-size: 2em;
	font-family: GREEK;
	color:white;
}

#contact{
	display:block;
}

#cambiar_tema{
	display:block;
	cursor: pointer;
}

#temaimg{
	height: 2.5vh;
	width: 1.12vw;
	margin-right: .5vh;
}	

span{
	font-size: 1.2em;
	color:white;
}

#rrss{
	cursor: pointer;
	margin-bottom: 3vh;
}

/*FIN FOOTER*/