
@font-face{
	font-family: "GREEK";
	src: url("../sfx/greek.ttf");
}

html, body{
	margin:0;
	padding:0;
}

html {
	scroll-behavior: smooth;
}


nav{
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color:#202328;
	box-shadow: 0px 2px 5px 3px #1b1b1d;
	z-index: 2;
}

#menu_lateral{
	display:flex;
	flex-direction:column;
	align-items: center;
	height: 155vh;
	width:0vw;
	position:absolute;
	z-index: 1;
	overflow-x:hidden;
	background-color:#202328;
	box-shadow: none;
	transition:0.5s;
	
}

.opnav {
	float:left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.25em;
	
}

.opnav:hover{
	background-color: #1e8fb7;
}

.opmenu {
	
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 1.25em;
	width: 100%;
	
}

.opmenu:hover {
	background-color: black;
}

#home{
	margin-top:2vh;
}

#hamburger{
	height: 3vh;
	width:auto;
	cursor: pointer;
}


body{
	background-color:#1F2123;
}

header{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 30vh;
	position: relative;
	text-align: center;
	color: white;
	background-image: url('../img/headermenu3.jpg');
	transition: opacity 1s;
}



#title{
	position: absolute;
	color:white;
	text-shadow: 2px 2px 2px #1b1b1d;
	text-align:center;
	font-size:5em;
	
}

#titulo_mapa{
	font-family: GREEK;
	font-size: 3em;
	color:white;
	text-align: center;
	
}

#map{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	background-color:black;
	height:90vh;
	width: 50vw;
	margin: 1.5vh 25vw 10vh;
	padding: 3vh 1vw;
	border-radius:25px;
	
}

.extremo{
	display:flex;
	justify-content: center;
}

.medio{
	display:flex;
	justify-content: space-between;
}

.realms{
	border-radius:50%;
	width: 10vw;
	height:auto;
	margin: 1.5vh 1.25vw;
	padding: .5vh .25vw;;

}

#asgard{
	margin-top: -1vh;
	margin-bottom: 1vh;
	padding-bottom:2vh;
}

#helheim{
	margin-top: 1vh;
	margin-bottom: -1vh;
	padding-top:2vh;
}

#titulo_vista{
	font-family: GREEK;
	font-size: 3em;
	color:white;
	text-align: center;
	
}

#img_vista{
	width: 50vw;

}

#vista{
	width: 50vw;
	margin: 1.5vh 25vw 10vh;
}
/*Esta clase está para mantener oculta esta parte hasta que se haga click en el mapa
es lo primero que quita javascript*/
.hidden{
	display:none;
}

footer{
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #202328;
	box-shadow: 0px 5px 10px 6px #1b1b1d;
}

.footerclass{
	margin: 6vh 2vw;
}

h3{
	font-size: 2em;
	font-family: GREEK;
	color:white;
}

#contact{
	display:block;
}

#cambiar_tema{
	display:block;
	cursor: pointer;
}

#temaimg{
	height: 2.5vh;
	width: 1.12vw;
	margin-right: .5vh;
}	

span{
	font-size: 1.2em;
	color:white;
}

#rrss{
	cursor: pointer;
	margin-bottom: 3vh;
}